@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.4rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6366f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a855f7;
}
